{
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "NodeJS": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["prettier", "@typescript-eslint", "import", "unused-imports" /*, 'simple-import-sort'*/],
  "ignorePatterns": ["dist", "**/node_modules/*"],
  "rules": {
    "@typescript-eslint/ban-ts-ignore": ["off"],
    "@typescript-eslint/camelcase": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/interface-name-prefix": ["off"],
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/no-unused-expressions": ["off"],
    "@typescript-eslint/no-var-requires": ["off"],
    "@typescript-eslint/no-use-before-define": ["off"],
    "@typescript-eslint/no-unused-vars": ["off"],
    "@typescript-eslint/no-namespace": ["off"],
    "@typescript-eslint/no-extra-semi": ["off"],
    "@typescript-eslint/ban-ts-comment": "off",
    "camelcase": "off",
    "no-unused-expressions": "off",
    "comma-dangle": ["off", "always-multiline"],
    "require-await": "warn",
    "no-async-promise-executor": ["off"],
    "no-empty-pattern": ["off"],
    "no-undef": ["error"],
    "no-var": ["error"],
    "object-curly-spacing": ["error", "always"],
    "quotes": ["off", "double", { "allowTemplateLiterals": true }],
    // "semi": ["error", "always"],
    "spaced-comment": ["off"],
    "no-prototype-builtins": ["off"],
    "sort-keys": ["off"],
    "space-before-function-paren": ["off"],
    "indent": ["off"],
    "promise/param-names": "off",
    "no-console": ["error", { "allow": ["warn"] }],
    "no-useless-constructor": "off",
    "no-use-before-define": "off",
    "curly": "off",
    "prefer-promise-reject-errors": "off",
    "unused-imports/no-unused-imports": "error",
    "import/no-unused-modules": ["warn", { "unusedExports": true }],
    "import/order": [
      "warn",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"], // default: "builtin", "external", "parent", "sibling", "index"
        "pathGroups": [
          {
            "pattern": "**/*.scss",
            "group": "object",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": []
        // 'newlines-between': 'always',
        // warnOnUnassignedImports: true,
      }
    ],
    // 'simple-import-sort/imports': 'error',
    // 'simple-import-sort/exports': 'error',
    // 'prettier/prettier': [
    //   'error',
    //   {
    //     semi: false,
    //     singleQuote: true,
    //     printWidth: 120,
    //   },
    // ],
    "object-shorthand": ["error", "always"]
  }
}
